* {
  box-sizing: border-box;
  font-family: Helvetica;
  font-weight: bold;
  font-size: large;
  /* color:#424748; */
  color: #010101;
}

body {
  margin: 0;
  height: 100vh;
  display: grid; 
  grid-template-rows: 90px 1fr; 
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: #FFFFFF;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > img {
  width: 80px;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #E8ECEB;
  padding: 20px;
  overflow-y: scroll;
}

/* body > main h1:first-child {
  margin-bottom: 10px;
} */

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover {
  color: #366BFF;
  /* background-color: #424748; */
}

nav > a.active {
  color: white;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  /* grid-template-columns: repeat(2, minmax(auto, 22rem)); */
}

#new-form *,
#add-review-form *,
#add-performer-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 3px; 
  text-align: left;
}

#list td:nth-child(2), #list td:nth-child(3){
  min-width: 10px;
}

#list a {
  border-radius: 4px;
  background-color: #B8C0C2;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

#list a:hover {
  background-color: white;
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

#add-review-form,
#add-performer-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

#add-review-form input[type="submit"],
#add-performer-form input[type="submit"]  {
  width: 10rem;
  grid-column: 2 / 3;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}
.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}

ul {
  margin: 0 0 1rem;
  padding: 0;
  list-style: none;
}
	
li {
  font-weight: bold;
}

section {
  /* border: 1px solid; */
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;

}

section div {
  border: 1px solid #a9a7a7;
  width: 586px;
  margin: 8px 20px 8px 8px;
  align-items: center;
  box-shadow: 10px 10px 10px grey;

}

.resize {
  width: 586px;
}

td {
  padding-left: 0;
  text-align: left;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}
form input{
  width: 300px;
  height: 50px;
}

label {
  display: flex;
  flex-direction: column;
}

sidebar {
  border: 1px solid rgb(24, 199, 76);
  width: 100%;
  height: 200px;
}
